.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.RadioList {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.RadioItem {
	border: 1px solid grey;
	border-radius: 10px;
	margin: 15px;
	padding: 15px;
	flex-shrink: 0;
}

.Footer {
	text-align: center;
	margin: 30px 15px;
}
